.skin-noir header {
  background: linear-gradient(#1b1b1b, #868686); }
.skin-noir .todayInfo {
  background-color: #868686; }
.skin-noir .TaskButtons {
  background-color: #1b1b1b; }
.skin-noir #recent .arrow, .skin-noir #favorites .arrow, .skin-noir #genometasks .arrow {
  background: #1b1b1b; }
.skin-noir #recent .arrow:hover, .skin-noir #favorites .arrow:hover, .skin-noir #genometasks .arrow:hover {
  background: #868686; }
.skin-noir #recent.open .arrow, .skin-noir #favorites.open .arrow, .skin-noir #genometasks.open .arrow {
  background: #868686; }
.skin-noir footer {
  background: url("chrome-extension://__MSG_@@extension_id__/images/genome.png") no-repeat bottom 8px left 44%, linear-gradient(#1b1b1b, #868686); }
.skin-noir footer div.save-btn.disabled {
  background-color: #cacaca; }
.skin-noir footer div.save-btn:hover {
  background-color: #1b1b1b; }
.skin-noir *::-webkit-scrollbar-button {
  background-color: #868686;
  height: 0px; }
.skin-noir *::-webkit-scrollbar-track {
  background-color: #868686; }

.skin-midnight header {
  background: linear-gradient(#1b1b1b, #002BFD); }
.skin-midnight .todayInfo {
  background-color: #002BFD; }
.skin-midnight .TaskButtons {
  background-color: #1b1b1b; }
.skin-midnight #recent .arrow, .skin-midnight #favorites .arrow, .skin-midnight #genometasks .arrow {
  background: #002BFD; }
.skin-midnight #recent .arrow:hover, .skin-midnight #favorites .arrow:hover, .skin-midnight #genometasks .arrow:hover {
  background: #00188A; }
.skin-midnight #recent.open .arrow, .skin-midnight #favorites.open .arrow, .skin-midnight #genometasks.open .arrow {
  background: #00188A; }
.skin-midnight footer {
  background: url("chrome-extension://__MSG_@@extension_id__/images/genome.png") no-repeat bottom 8px left 44%, linear-gradient(#002BFD, #00188A); }
.skin-midnight footer div.save-btn.disabled {
  background-color: #cacaca; }
.skin-midnight footer div.save-btn:hover {
  background-color: #0E0080; }
.skin-midnight *::-webkit-scrollbar-button {
  background-color: #002BFF;
  height: 0px; }
.skin-midnight *::-webkit-scrollbar-track {
  background-color: #002BFF; }
.skin-midnight *::-webkit-scrollbar-thumb {
  background-color: #00188A; }

.skin-fuzzy-peaches header {
  background: linear-gradient(#FF9900, #FFD251, #F66); }
.skin-fuzzy-peaches .todayInfo {
  background-color: #F66; }
.skin-fuzzy-peaches .TaskButtons {
  background-color: #FF6666; }
.skin-fuzzy-peaches #recent .arrow, .skin-fuzzy-peaches #favorites .arrow, .skin-fuzzy-peaches #genometasks .arrow {
  background: #FF6666; }
.skin-fuzzy-peaches #recent .arrow:hover, .skin-fuzzy-peaches #favorites .arrow:hover, .skin-fuzzy-peaches #genometasks .arrow:hover {
  background: #FF9900; }
.skin-fuzzy-peaches #recent.open .arrow, .skin-fuzzy-peaches #favorites.open .arrow, .skin-fuzzy-peaches #genometasks.open .arrow {
  background: #FF9900; }
.skin-fuzzy-peaches footer {
  background: url("chrome-extension://__MSG_@@extension_id__/images/genome.png") no-repeat bottom 8px left 44%, linear-gradient(#FF6666, #FFA714, #FFDD57); }
.skin-fuzzy-peaches footer div.save-btn.disabled {
  background-color: #cacaca; }
.skin-fuzzy-peaches footer div.save-btn:hover {
  background-color: #FF893A; }
.skin-fuzzy-peaches *::-webkit-scrollbar-button {
  background-color: #FF6666;
  height: 0px; }
.skin-fuzzy-peaches *::-webkit-scrollbar-track {
  background-color: #FF6666; }
.skin-fuzzy-peaches *::-webkit-scrollbar-thumb {
  background-color: #FF8343; }

.skin-raphael a {
  color: #33BFFF; }
.skin-raphael .play i {
  color: #33BFFF !important; }
.skin-raphael .split i {
  color: #9ECC49; }
.skin-raphael header {
  background: linear-gradient(#C73F3F, #00867F); }
.skin-raphael .todayInfo {
  background-color: #00867F; }
.skin-raphael .todayInfo .today, .skin-raphael .todayInfo .duration {
  color: #E6E6E6; }
.skin-raphael #main {
  background-color: #00867F; }
.skin-raphael #task-list li.task .task-wrapper {
  background-color: #00867F; }
.skin-raphael #task-list li.task .task-wrapper label, .skin-raphael #task-list li.task .task-wrapper .timeElapsed {
  color: #E6E6E6; }
.skin-raphael #task-list .details {
  background-color: #43A9A3; }
.skin-raphael #task-list .details div label {
  color: #E6E6E6; }
.skin-raphael #task-list .border-left.hasCategory {
  background-color: #B9B9B9; }
.skin-raphael #recent, .skin-raphael #favorites, .skin-raphael #genometasks {
  background-color: #00867F; }
.skin-raphael #recent .arrow, .skin-raphael #favorites .arrow, .skin-raphael #genometasks .arrow {
  background-color: #C73F3F; }
.skin-raphael #recent.open .arrow, .skin-raphael #favorites.open .arrow, .skin-raphael #genometasks.open .arrow {
  background-color: #D07373; }
.skin-raphael #recent .arrow:hover, .skin-raphael #favorites .arrow:hover, .skin-raphael #genometasks .arrow:hover {
  background-color: #D07373; }
.skin-raphael #recent .content li.task label, .skin-raphael #favorites .content li.task label, .skin-raphael #genometasks .content li.task label {
  color: #E6E6E6; }
.skin-raphael #genometasks .content .task-wrapper .recent-task-wrapper .recent-project-wrapper {
  color: #FFABAB; }
.skin-raphael #recent .fa-unlock-alt {
  color: #07AF2F; }
.skin-raphael footer {
  background: url("chrome-extension://__MSG_@@extension_id__/images/genome.png") no-repeat bottom 8px left 44%, #C73F3F; }
.skin-raphael footer div.save-btn:hover {
  background-color: #D07373; }
.skin-raphael *::-webkit-scrollbar-button {
  background-color: #0C827C; }
.skin-raphael *::-webkit-scrollbar-thumb {
  background-color: #B4615F; }
.skin-raphael *::-webkit-scrollbar-track {
  background-color: #BF9C9C; }

/*# sourceMappingURL=skins.css.map */
