.skin-black{
	header{background: linear-gradient(#1b1b1b, #868686);}
	dl{background-color: #868686}
	.TaskButtons{background-color:#1b1b1b;}
	#recent .arrow, #favorites .arrow, #genometasks .arrow{background:#1b1b1b;}
	#recent .arrow:hover, #favorites .arrow:hover, #genometasks .arrow:hover{background:#868686;}
	#recent.open .arrow, #favorites.open .arrow, #genometasks.open .arrow{background:#868686;}
	footer{background:url("chrome-extension://odomkcbkhdfkmgfadgcngckijockpmkm/images/genome.png") no-repeat bottom 8px left 44%,linear-gradient(#1b1b1b, #868686);}

	footer div.save-btn.disabled{background-color:#cacaca;}
	footer div.save-btn:hover{background-color:#1b1b1b;}

	*::-webkit-scrollbar-button {
	    background-color: #868686;
	    height: 0px;
	}
	*::-webkit-scrollbar-track {
	    background-color: #868686;
	}
}
