
.skin-fuzzy-peaches{
	header{background: linear-gradient(#FF9900, #FFD251, #F66);}
	.todayInfo{background-color: #F66}
	.TaskButtons{background-color:#FF6666;}
	#recent .arrow, #favorites .arrow, #genometasks .arrow{background:#FF6666;}
	#recent .arrow:hover, #favorites .arrow:hover, #genometasks .arrow:hover{background:#FF9900;}
	#recent.open .arrow, #favorites.open .arrow, #genometasks.open .arrow{background:#FF9900;}
	footer{background:url("chrome-extension://__MSG_@@extension_id__/images/genome.png") no-repeat bottom 8px left 44%,linear-gradient(#FF6666, #FFA714,#FFDD57);}

	footer div.save-btn.disabled{background-color:#cacaca;}
	footer div.save-btn:hover{background-color:#FF893A;}

	*::-webkit-scrollbar-button {
	    background-color: #FF6666;
	    height: 0px;
	}
	*::-webkit-scrollbar-track {
	    background-color: #FF6666;
	}
	*::-webkit-scrollbar-thumb {
	    background-color: #FF8343;
	}
}