.skin-raphael{
	a{
	color: #33BFFF;
	}
	.play i {
	    color: #33BFFF !important;
	}
	.split i {
	    color: #9ECC49;
	}

	header{
	    background: linear-gradient(#C73F3F, #00867F);
	}
	.todayInfo{    background-color: #00867F;}
	.todayInfo .today, .todayInfo .duration{ color:#E6E6E6; }

	#main{background-color: #00867F;}
	#task-list li.task .task-wrapper{background-color: #00867F;}
	#task-list li.task .task-wrapper label, #task-list li.task .task-wrapper .timeElapsed{color:#E6E6E6;}

	#task-list .details{background-color: #43A9A3;}
	#task-list .details div label{color:#E6E6E6;}

	#task-list .border-left.hasCategory{
	background-color: #B9B9B9;
	}

	#recent, #favorites, #genometasks{ background-color: #00867F; }
	#recent .arrow, #favorites .arrow, #genometasks .arrow{ background-color: #C73F3F; }
	#recent.open .arrow, #favorites.open .arrow, #genometasks.open .arrow{ background-color: #D07373; }
	#recent .arrow:hover, #favorites .arrow:hover, #genometasks .arrow:hover{ background-color: #D07373; }

	#recent .content li.task label, #favorites .content li.task label, #genometasks .content li.task label {
	color:#E6E6E6;
	}
	#favorites .content .task-wrapper .recent-task-wrapper .recent-project-wrapper,
	#recent .content .task-wrapper .recent-task-wrapper .recent-project-wrapper,
	#genometasks .content .task-wrapper .recent-task-wrapper .recent-project-wrapper {
	    color: #EC87A2;
	}
	#recent .fa-unlock-alt {
	    color: #07AF2F;
	}

	footer{
	background: url("chrome-extension://__MSG_@@extension_id__/images/genome.png") no-repeat bottom 8px left 44%, #C73F3F;
	}

	footer div.save-btn:hover {
	    background-color: #D07373;
	}

	#main .restore-tasks .restore{
		color: #33BFFF;
	}

	*::-webkit-scrollbar-button {
	    background-color: #0C827C;
	}

	*::-webkit-scrollbar-thumb {
	    background-color: #B4615F;
	}

	*::-webkit-scrollbar-track {
	    background-color: #BF9C9C;
	}
}