.gap{
  @include clearfix;
  display:block;
  padding:5px 6px 5px 25px;
  border-bottom:1px solid #000;
  background: rgba(168, 225, 255, 0.11);
  .controls{
    float:right;
    display: inline-block;
    a.next,
    a.last,
    a.add {
      margin:0 5px 0 5px;
      cursor:pointer;
      text-decoration: none;
      display: inline-block;
      text-align: center;
    }
    a.add{
      color:#084b68;
    }
    a.next{
      color:#008356;
    }
    a.last{
      color:#477dca;
    }
    i{
      font-size:14px;
    }
  }

}