#edit-Multibill{
	font-size:12px;
	height:100%;
	z-index:500;
  position:absolute;
  background-color:#fff;
  top:0px;
  left:0px;
  width:100%;
  color: #000;

  .multibill-header{
    padding:0 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .multibill-select-label{
    margin-top:10px;
    display:inline-block;
    width:110px;
  }

  select{
    width: calc(100% - 135px);
    display:inline-block;
    margin: 10px 0;
  }

  .no-Multibill{
  	margin-top:10px;
  	a{
  		cursor:pointer;
  	}
  }
  .list-controls{
    text-align:right;
    margin-right:25px;
    .clone-Multibill, .remove-Multibill{
      margin-left:10px;
     	cursor:pointer;
    }
  }

  .multibill-data{
    padding:10px 10px;
    border-bottom: 1px solid #ddd;
  }
  .id-wrapper{
    width:100%;
    vertical-align: top;

  	label{
  		width:55px;
  		display:inline-block;
  	}
  	input{
  		width: 90px;
  		display:inline-block;
  	}
  	

    &.newTask{
      label{
        width:105px;
      }
    }

    &.editTask{
      width:155px;
      display:inline-block;
    }
  }
  .task-wrapper{
    padding:10px;
    height: calc(100% - 223px);
    overflow-y:auto;
    background: #eee;
  }
  .task-headline{
    margin-bottom:15px;
  }
  .details-wrapper{
  	display:inline-block;
  	width: calc(100% - 155px);
  	vertical-align: top;
  	.task-project{
  		display:block;
  		width:100%;
  		color:#d21245;
  		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
  	}
  	.task-title{
  		display:block;
  		width:100%;
  		color: #2585b0;
  		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
  	}
  }
  
  .destroy{
    i{color:#d21245;}
    position:absolute;
    top:3px;
    right:2px;
    font-size: 19px;
  }
  
  .modal-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    opacity:0.5;
    z-index:1;
  }

  .modal-confirmRemove{
    position:absolute;
    top:20px;
    left:5%;
    width:90%;
    height:auto;
    background: #fff;
    padding: 20px;
    z-index:2;
    .btn{
      margin: 20px 10px 0 0;
      background: #ddd;
      width: 100px;
      text-align: center;
      border-radius: 4px;
      padding: 4px;
      display: inline-block;
      cursor:pointer;
      &:hover{
        background:#ADADAD;
      }
      &.btn-confirm{
        background:#FF7575;
        &:hover{
          background:#FF1313;
        }
      }
    }
  }
}