#edit-Multibill{
	font-size:12px;
	height:100%;
	z-index:500;
  position:absolute;
  background-color:#fff;
  top:0px;
  left:0px;
  width:100%;
  color: #000;
  overflow-y:auto;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;

  .no-Multibill{
  	margin-top:10px;
	a{
		cursor:pointer;
	}
  }
  .add-Multibill, .remove-Multibill{
  	cursor:pointer;
  }

  .id-wrapper{
  	label{
  		width:55px;
  		display:inline-block;
  	}
  	input{
  		width: calc(100% - 100px);
  		display:inline-block;
  	}
  	width:100%;
  	vertical-align: top;
  }
  .details-wrapper{
  	display:inline-block;
  	width: 100%;
  	vertical-align: top;
  	.task-project{
  		display:inline-block;
  		width:50%;
  		padding-left:15px;
  		color:#d21245;
  		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
  	}
  	.task-title{
  		display:inline-block;
  		width:50%;
  		padding-right: 15px;
  		color: #2585b0;
  		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
  	}
  }
  select{
  	width: calc(100% - 35px);
    margin: 10px 0;
  }
  .destroy{
    i{color:#d21245;}
    position:absolute;
    top:6px;
    right:2px;
    font-size: 19px;
  }
  
}