
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: calc(208.3%);
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);

}
.tt-dataset-tickets{
  border-bottom: 1px solid #F2F2F2;
  &:last-child{
    border-bottom:none;
  }
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px solid #F2F2F2;
  &:last-child{
    border-bottom:none;
  }

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}



.id-box{
  display:inline-block;
  width:80px;
  font-weight:bold;
  vertical-align:top;
  height: auto;
  margin-left:-5px;
  cursor:pointer;
}
.task-box{
  display:inline-block;
  width: calc(100% - 80px);
  cursor:pointer;
}
.task-row, .project-row{
  display:block;
  height:18px;
  overflow:hidden;
  white-space: nowrap;
  width: 100%;
  color:#2585b0;
  text-overflow: ellipsis;
}
.project-row{
  padding-left:30px;
  color:#d21245;
}

.non-project-row{
    display:block;
    height:0px;
    overflow:hidden;
  }

