.TaskButtons {
  height: 30px;
  background-color: #2585b0;
  position:fixed;
  bottom:39px;
  z-index:99;
  overflow:hidden;
  width:100%;
  &.open{
    height: calc(65% - 141px);
  }
}

#recent, #favorites, #genometasks{
  width: 100%;
  background-color: #fff;
  height:0;
  .arrow{
    background-color: #2585b0;
    cursor: pointer;
    font-size:15px;
    color: #fff;
    display: block;
    width: 33.3%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position:absolute;
    top:0;
    i{
      padding-left:5px;
    }
    &:hover{
      background:#3C9BC5;
    }
  }
  &.open{
    height: calc(100% - 30px);
    overflow-y: auto;
    margin-top:30px;
    .arrow{
      background:#3C9BC5;
    }
  }
  .fa-lock{
    color: #d21245;
    cursor:default;
  }
  .fa-unlock-alt{
    color: #027B1F;
    cursor:default;
  }
  .content-wrapper{
    overflow:auto;
    height: 100%;
  }
  
  .content {
    font-size: em(12);
    padding: 0 5px 0 5px;
    .task-wrapper{
      padding: 2px 0 2px;
      display: inline-block;
      width: 100%;
      line-height: 18px;

      .recent-ticketID-wrapper{
        height: auto;
        display: inline-block;
        vertical-align: top;
        width: 75px;
        color:#000;
      }
      .recent-task-wrapper{
        height: auto;
        display: inline-block;
        width: calc(94% - 75px);
        color: #2585b0;
        span{
          display:block;
          width:100%;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .recent-project-wrapper{
          padding-left: 30px;
          color:#d21245;
        }
      }
      .controls {
        width: 6%;
        float:none;
        display:inline-block;
        vertical-align: top;

        a.play{
          i{
            color:#2585b0;
            &:hover{
              color:#000;
            }
          }
          display:block;
        }
      }
    }

    li.task {
      border-bottom: 1px solid #BAD2DD;
      &:last-child{
        border-bottom:none;
      }
      @include user-select(none);
      @include clearfix;
      
      label {
        width:100%;
        font-weight:400;
        margin-bottom:0em;
      }
      
    }
  }
}

#favorites .arrow{
  left: 33.3%;
}


#genometasks{
  .arrow{
    left: 66.6%;
  }
  .content {
    .task-wrapper{   
      .recent-ticketID-wrapper{
        width: 60px;
      }
      .recent-task-wrapper{
        width: calc(94% - 60px);
      }
    }
  }
}