
@import "vendor/bourbon/bourbon";
@import "vendor/base/base";
@import "vendor/neat/neat";
@import "vendor/font-awesome/scss/font-awesome";

@import "modules/searchbox";
html{
  height:100%;
}
body{
  height:100%;
  margin:0;
  padding:0;
  div{
    height:100%;
  }
}

h2 {
  margin: 14px 0 4px; 
}

a.play, 
a.stop,
a.destroy {
  display: inline-block;
  width: 1.9em;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

i{
  cursor:pointer;
  .play &{
    color:#084b68;
  }
  .stop &{
    color:#d21245;
  }
  .destroy &{
    color:#084b68;
  }
}
 .open .expand {
      display: none;
    }
  .closed .contract {
      display: none;
    }

header {
  padding:20px 20px 0 20px;
  background: linear-gradient(#3f9dc7, #2585b0);
.input-wrap{
  position:relative;
  padding-bottom:20px;
}

  .typeahead {
    width: 185px;
    height: 38px;
    font-size: 18px;
    line-height: 18px;
    border: 2px solid #ccc;
    outline: none;
    padding: 10px;
    display:inline-block;
    margin:0;
  }
    .note{
      width: 185px;
      height: 38px;
      font-size: 18px;
      line-height: 18px;
      border: 2px solid #ccc;
      outline: none;
      padding: 10px;
      margin: 0;
      display:inline-block;
      position:absolute;
      right:0;
    }
  
}

#main{
  height: calc(100% - 129px);
  overflow-y: auto;
  &::-webkit-scrollbar {
      width: 8px;
} 
  &::-webkit-scrollbar-track {
      background-color: #3f9dc7;
} /* the new scrollbar will have a flat appearance with the set background color */
 
&::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4); 
} /* this will style the thumb, ignoring the track */
 
&::-webkit-scrollbar-button {
      background-color: #2585b0;
      height:28px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
}

dl {
  @include clearfix;
  background-color: #2585b0;
  padding:0px 20px 0 20px;
  margin: 0;
  dt, dd {
    color:#fff;
    font: normal 20px Helvetica, Arial, sans-serif;
    @include span-columns(6 of 12);
    margin-top: 0.75em;
    margin: 0;
    padding-bottom:5px;
  }
  dd {
    text-align: right;
  }
}

#task-list {
  font-size: em(12);

  .date-label{
    font: normal 20px Helvetica, Arial, sans-serif;
    color: #585858;
    margin:25px 0 0 0;
    padding:0 0 10px 20px;
    border-bottom:1px solid #000;
  }
  
  .border-left{

    background-color: #ffdd57;
    padding-left:10px;

    &.hasID {
      background-color:#b6e5ff;  
    }
    border-bottom:1px solid #000;
  }

  li.task {

    background-color: #fff;
    padding: 10px 5px 10px;
    @include user-select(none);
    @include clearfix;
    
    label {
      @include span-columns(6 of 12);
    }
    .controls {
      @include span-columns(6 of 12);
    }

    label {
      color:#084b68;
      font-size: 15px;
      padding-left:10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight:normal;
      margin-bottom:0em;
    }
    .timeElapsed {
      color:#084b68;
      font-size: 12px;
      font-family: "Lucida Console", Monaco, monospace;
      margin-right:15px;
    }
    .controls {
      text-align: right;
      a.play {display: none}
    }
    &.stopped .controls {
      a.stop {display: none}
      a.play {display: inline-block}
    }
    
  }
  .details{
      display:none;
      height:100%;
      margin:0;
      padding:15px 0 5px 0;
      background-color:#f8f8f8;
      &.on{
        display:block;
      }
      div{
        label{
          font-size:12px;
          color:#084b68;
          display:inline-block;
          width:13%;
          text-align:right;
          vertical-align:top;
          padding-top:2px;
        }
        input[type="text"], input[type="date"], textarea{
          margin-left:10px;
          margin-right:10px;
          width:30%;
          display:inline-block;
        }
        textarea{
          width:calc(73% + 20px);
        }
      }
      
    }
}

footer {
  padding:0;
  text-align:right;
  background: url('chrome-extension://__MSG_@@extension_id__/images/genome.png') no-repeat bottom 17px left 20px,
    linear-gradient(#3f9dc7, #2585b0);
  button{
    margin:10px;
    margin-right:20px;
    background-color: #459ec5;
    border: 1px solid #459ec5;
    border-radius: 30px;
    padding: 3px 20px 3px 20px;
    font: normal 20px Helvetica, Arial, sans-serif;

  }
}





