
@import "vendor/bourbon/bourbon";
@import "vendor/base/base";
@import "vendor/neat/neat";
@import "vendor/font-awesome/scss/font-awesome";

@import "modules/searchbox";
html{
  height:100%;
}
body{
  height:100%;
  margin:0;
  padding:0;
  div{
    height:100%;
  }
}

h2 {
  margin: 14px 0 4px; 
}

a.overlap,
a.zero,
a.play, 
a.stop,
a.destroy {
  display: inline-block;
  width: 1.9em;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

a.overlap,
a.zero{
  width:1em;
  margin-right: 4px;
}
a.tip {
    border-bottom: 1px dashed;
    text-decoration: none;
}
a.tip:hover {
    cursor: help;
    position: relative;
}
span.tooltip {
    text-align: center;
    border: #c0c0c0 1px dotted;
    padding: 2px 10px 2px 10px;
    display: block;
    width: 250px;
    position: absolute;
    text-decoration: none;
    font-size: 0.9em;
    z-index:1000;
}

i{
  cursor:pointer;
  .play &{
    color:#084b68;
  }
  .stop &{
    color:#d21245;
  }
  .destroy &{
    color:#084b68;
  }
  .overlap &{
    cursor: help;
    color:#d21245; 
  }
  .zero &{
    cursor: help;
    color:#ffdd57; 
  }
}
 .open .expand {
      display: none;
    }
  .closed .contract {
      display: none;
    }

header {
  padding:20px 20px 0 20px;
  background: linear-gradient(#3f9dc7, #2585b0);
.input-wrap{
  position:relative;
  padding-bottom:20px;
}
  
  .twitter-typeahead{
    width:48%;
  }
  .typeahead {
    width: 100%;
    height: 38px;
    font-size: 18px;
    line-height: 18px;
    border: 2px solid #ccc;
    outline: none;
    padding: 10px;
    display:inline-block;
    margin:0;
  }
    .note{
      width: 48%;
      height: 38px;
      font-size: 18px;
      line-height: 18px;
      border: 2px solid #ccc;
      outline: none;
      padding: 10px;
      margin: 0;
      display:inline-block;
      position:absolute;
      right:0;
    }
  
}

.gap{
  display:block;
  padding:5px 6px 5px 25px;
  border-bottom:1px solid #000;
  background: rgba(255, 237, 168, 0.11);
  .controls{
    float:right;
    display: inline-block;
    a.next,
    a.last,
    a.add {
      margin:0 5px 0 5px;
      cursor:pointer;
      text-decoration: none;
      display: inline-block;
      text-align: center;
    }
    a.add{
      color:#084b68;
    }
    a.next{
      color:#008356;
    }
    a.last{
      color:#477dca;
    }
    i{
      font-size:14px;
    }
  }

}


#main{
  height: calc(100% - 129px);
  overflow-y: auto;
  &::-webkit-scrollbar {
      width: 8px;
} 
  &::-webkit-scrollbar-track {
      background-color: #2585b0;
} /* the new scrollbar will have a flat appearance with the set background color */
 
&::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4); 
} /* this will style the thumb, ignoring the track */
 
&::-webkit-scrollbar-button {
      background-color: #2585b0;
      height:28px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
}

dl {
  @include clearfix;
  background-color: #2585b0;
  padding:0px 20px 0 20px;
  margin: 0;
  dt, dd {
    color:#fff;
    font: normal 20px Helvetica, Arial, sans-serif;
    @include span-columns(6 of 12);
    margin-top: 0.75em;
    margin: 0;
    padding-bottom:5px;
  }
  dd {
    text-align: right;
  }
}

#task-list {
  font-size: em(12);

  .date-label{
    font: normal 20px Helvetica, Arial, sans-serif;
    color: #585858;
    margin:25px 0 0 0;
    padding:0 0 10px 20px;
    border-bottom:1px solid #000;
  }
  
  .border-left{
    line-height:0;
    background-color: #ffdd57;
    padding-left:10px;

    &.hasID {
      background-color:#b6e5ff;  
    }
    &.hasCategory{
      background-color:#D3D3D3;
    }
    border-bottom:1px solid #000;
  }

  .task-wrapper{
    padding: 10px 5px 10px;
    display: inline-block;
    background-color: white;
    width: 100%;
    line-height: 18px;
  }

  li.task {

    background-color: #fff;
    @include user-select(none);
    @include clearfix;
    
    label {
      @include span-columns(6 of 12);
    }
    .controls {
      @include span-columns(6 of 12);
    }
    .errors{
      width:5%;
    }
    label {
      color:#084b68;
      font-size: 15px;
      padding-left:10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight:normal;
      margin-bottom:0em;
    }
    .timeElapsed {
      color:#084b68;
      font-size: 12px;
      font-family: "Lucida Console", Monaco, monospace;
      margin-right:15px;
      &.flash{
        background-color: rgba(0, 255, 236, 0.4);
        box-shadow: 0px 0px 6px rgba(0, 255, 236, 0.86);
      }
    }
    .controls {
      text-align: right;
      a.play {display: none}
    }
    &.stopped .controls {
      a.stop {display: none}
      a.play {display: inline-block}
    }
    
  }
  .details{
      display:none;
      height:100%;
      margin:0;
      padding:15px 0 15px 15px;
      background-color:#f8f8f8;
      line-height:1.5em;
      &.on{
        display:block;
      }
      div{
        .item-wrap{
          display: inline-block;
          width: 50%;
        }
        
        label{
          font-size:12px;
          color:#084b68;
          display:block;
          width:100%;
          text-align:left;
          vertical-align:top;
          padding: 0;
          padding-top:2px;

        }
        input[type="text"], input[type="date"], textarea{
          display:block;
          width:90%;
          margin-bottom:5px;
          &:disabled{
            background-color:#f8f8f8;
          }
        }
        input[type="date"]{
          height: 28px;
        }
        textarea{
          width:95%;
        }
      }
      
    }
}

footer {
  position:fixed;
  width:100%;
  bottom:0;
  padding:0;
  text-align:right;
  background: url('chrome-extension://__MSG_@@extension_id__/images/genome.png') no-repeat bottom 17px left 60px, linear-gradient(#3f9dc7, #2585b0);
  
  .options{
    position:absolute;
    font-size:20px;
    color: #fff;
    top:11px;
    left:10px;
    }

  button{
    margin:10px;
    margin-right:20px;
    background-color: #459ec5;
    border: 1px solid #459ec5;
    border-radius: 30px;
    padding: 3px 20px 3px 20px;
    font: normal 20px Helvetica, Arial, sans-serif;

  }
  button:disabled{
    cursor:default;
    &:hover{
      background-color: #459ec5;
    }
  }
}


.error{
  border: 1px solid #d21245 !important;
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #d21245 !important;
}


