
@import "vendor/bourbon/bourbon";
@import "vendor/base/base";
@import "vendor/neat/neat";
@import "vendor/font-awesome/scss/font-awesome";

@import "modules/searchBox";


h2 {
  margin: 14px 0 4px; 
}

a.play, 
a.stop,
a.destroy {
  display: inline-block;
  margin-left: 1em;
  padding: 0.1em;
  width: 1.9em;
  height: 1.8em;
  font-size: 0.8em;
  color: white;
  background-color: #477dca;
  text-align: center;
  border-radius: 0.8em;
}
a.play {
  padding: 0.1em 0.1em 0.1em 0.3em;
}

header {
  input[type=text] {
    display: inline-block;
    width: 78%;
  }
  a.play {
    font-size: 1.1em;
  }
}

#main dl {
  @include clearfix;
  margin: 0;
  dt, dd {
    @include span-columns(6 of 12);
    font-weight: bold;
    margin-top: 0.75em;
    margin: 0;
  }
  dd {
    text-align: right;
  }
}

#task-list {
  font-size: em(12);
  background-color: #E4E4E4;

  li.task {    
    @include user-select(none);
    @include clearfix;
    &:nth-of-type(even) {
      background-color: #D8D8D8;
    }


    label {
      @include span-columns(8 of 12);
    }
    .controls {
      @include span-columns(4 of 12);
    }

    label {
      font-size: 1.2em;
      padding: 0.4em 1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .timeElapsed {
      font-family: "Lucida Console", Monaco, monospace;
    }
    .controls {
      text-align: right;
      padding: 0.7em 1em;

      a.play {display: none}
    }
    &.stopped .controls {
      a.stop {display: none}
      a.play {display: inline-block}
    }
  }
}


footer {
  margin:15px;
  text-align:right;
}





