
@import "vendor/bourbon/bourbon";
@import "vendor/base/base";
@import "vendor/neat/neat";
@import "vendor/font-awesome/scss/font-awesome";

@import "skins";

@import "modules/searchbox";
@import "modules/header";
@import "modules/footer";
@import "modules/gapitem";
@import "modules/tasklists";
@import "modules/buildlog";
@import "modules/messages";
@import "modules/multibill";


html{
  height:100%;
}
body{
  height:100%;
  margin:0;
  padding:0;
}
#gschedulerapp{
  height:100%;
  >div{
    height:100%;
  }
}

*::-webkit-scrollbar {
    width: 8px;
} 
*::-webkit-scrollbar-track {
      background-color: #2585b0;
} /* the new scrollbar will have a flat appearance with the set background color */
 
*::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4); 
} /* this will style the thumb, ignoring the track */
 
*::-webkit-scrollbar-button {
      background-color: #2585b0;
      height:0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

h2 {
  margin: 14px 0 4px; 
}

a.play, 
a.stop,
a.destroy,
a.split,
a.fav,
a.zero,
a.overlap {
  display: inline-block;
  width: 1.4em;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

i{
  cursor:pointer;
  .play &{
    color:#2786B1;
  }
  .stop &{
    color:#d21245;
  }
  .destroy &{
    color:#084b68;
  }
  .overlap &{
    cursor: help;
    color:#d21245; 
  }
  .zero &{
    cursor: help;
    color:#ffdd57; 
  }
  .split &{
    color:#547517;
  }

  .fav &{
    color:#FFDD57;
  }
  .fav.disabled &{
    color:#D2D2D2;
    cursor:default;
  }
}

#main{
  &::-webkit-scrollbar-button:vertical:decrement {
    height:28px;
  }
  
  height: calc(100% - 147px);
  padding-bottom:5px;
  overflow-y: auto;

  .restore-tasks{
    padding-top:10px;
    text-align: center;
    display:block;
    .restore, .remove{
      color:#2585b0;
      font-size:14px;
      cursor:pointer;
    }
    .remove{ color: #C21F1F; }
  }
}

.todayInfo {
  height:auto;
  @include clearfix;
  background-color: #2585b0;
  padding:0px 20px 0 20px;
  margin: 0;
  .today, .duration {
    height:auto;
    color:#fff;
    font: normal 20px Helvetica, Arial, sans-serif;
    margin-top: 0.75em;
    margin: 0;
    padding-bottom:5px;
  }
  .today{
    float:left;
    cursor:pointer;
  }
  .duration {
    float:right;
    text-align: right;
  }

}

#task-list, .task-list {
  font-size: em(12);

  .date-label{
    font: normal 20px Helvetica, Arial, sans-serif;
    color: #585858;
    margin:25px 0 0 0;
    padding:0 0 10px 20px;
    border-bottom:1px solid #000;
    span{
      cursor:pointer;
    }
    .remove-day{
      cursor:pointer;
      float:right;
      padding-right:13px;
      font: 400 12px/18px 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
      margin-top:6px;
      color: #d21245;
      i{
        font-size:14.4px;
      }
    }
  }
  
  .border-left{
    line-height:0;
    background-color: #ffdd57;
    padding-left:10px;

    &.hasID {
      background-color:#b6e5ff;  
    }
    &.hasCategory{
      background-color:#D3D3D3;
    }
    &.hasMultibill{
      background-color:#FB7A7A; /*#82C175;*/
    }
    border-bottom:1px solid #000;
  }

  .task-wrapper{
    padding: 10px 5px 10px;
    display: inline-block;
    background-color: white;
    width: 100%;
    line-height: 18px;
  }

  li.task {

    background-color: #fff;
    @include user-select(none);
    @include clearfix;
    
    .task-wrapper label {
      width: calc(100% - 186px);
      float:left;
    }
    .controls {
      width: 183px;
      float:right;
      text-align: right;
    }
    .errors{
      width:5%;
    }
    label {
      color:#084b68;
      font-size: 15px;
      padding-left:10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight:normal;
      margin-bottom:0em;
    }
    .timeElapsed {
      color:#084b68;
      font-size: 12px;
      font-family: "Lucida Console", Monaco, monospace;
      margin-right:3px;
    }
    .icons-wrapper{
      width: 83px;
      display: inline-block;
    }
  }
  .details{
      width: 100%;
      height:auto;
      margin:0;
      padding:15px 0 15px 4%;
      background-color:#f8f8f8;
      line-height:1.5em;
      display:block;
      div{
        .item-wrap{
          display: inline-block;
          width: 50%;
          &.full{
            width:100%;
          }
        }
        
        .radio-wrapper{
          margin-bottom: 5px;
        }
        label{
          font-size:12px;
          color:#084b68;
          display:block;
          width:auto;
          min-width:15%;
          text-align:left;
          vertical-align:top;
          padding: 0;
          padding-top:2px;
          &.projectType{
            float:none;
          }
          &.radio{
            display:inline-block;
            margin-right: 10%;
            width:auto;
            min-width:0;
            float:none;
          }
        }
        .full .checkbox{
              margin-right:5%;
            }
        input[type="text"], input[type="date"], textarea{
          display:block;
          width:90%;
          margin-bottom:5px;
          &:disabled{
            background-color:#f8f8f8;
          }
          
        }
        .full input[type="text"] {
            width:95%;
          }
        input[type="date"]{
          height: 28px;
        }
        
        input[type="radio"]{
          float:left;
        }
        textarea{
          width:95%;
        }
        select{
          width:95%;
          margin-bottom: 5px;
        }
        .MultibillSelect{
            width:95%;
            select{
              width:calc(100% - 43px);
              display:inline-block;
            }
        }
      }
      
    }

}


.error{
  border: 1px solid #d21245 !important;
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #d21245 !important;
}




