
@import "vendor/bourbon/bourbon";
@import "vendor/base/base";
@import "vendor/neat/neat";
@import "vendor/font-awesome/scss/font-awesome";

@import "modules/searchbox";
html{
  height:100%;
}
body{
  height:100%;
  margin:0;
  padding:0;
  div{
    height:100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  margin: 14px 0 4px; 
}

a.overlap,
a.zero,
a.play, 
a.stop,
a.destroy {
  display: inline-block;
  width: 1.9em;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

a.overlap,
a.zero{
  width:1em;
  margin-right: 4px;
}
a.tip {
    border-bottom: 1px dashed;
    text-decoration: none;
}
a.tip:hover {
    cursor: help;
    position: relative;
}
span.tooltip {
    text-align: center;
    border: #c0c0c0 1px dotted;
    padding: 2px 10px 2px 10px;
    display: block;
    width: 250px;
    position: absolute;
    text-decoration: none;
    font-size: 0.9em;
    z-index:1000;
}

i{
  cursor:pointer;
  .play &{
    color:#084b68;
  }
  .stop &{
    color:#d21245;
  }
  .destroy &{
    color:#084b68;
  }
  .overlap &{
    cursor: help;
    color:#d21245; 
  }
  .zero &{
    cursor: help;
    color:#ffdd57; 
  }
}


header {
  padding:20px 20px 0 20px;
  background: linear-gradient(#3f9dc7, #2585b0);
.input-wrap{
  position:relative;
  padding-bottom:20px;
}
  
  .twitter-typeahead{
    width:48%;
  }
  .typeahead {
    width: 100%;
    height: 38px;
    font-size: 18px;
    line-height: 18px;
    border: 2px solid #ccc;
    outline: none;
    padding: 10px;
    display:inline-block;
    margin:0;
  }
    .note{
      width: 48%;
      height: 38px;
      font-size: 18px;
      line-height: 18px;
      border: 2px solid #ccc;
      outline: none;
      padding: 10px;
      margin: 0;
      display:inline-block;
      position:absolute;
      right:0;
    }
  
}

.gap{
  display:block;
  padding:5px 6px 5px 25px;
  border-bottom:1px solid #000;
  background: rgba(168, 225, 255, 0.11);
  .controls{
    float:right;
    display: inline-block;
    a.next,
    a.last,
    a.add {
      margin:0 5px 0 5px;
      cursor:pointer;
      text-decoration: none;
      display: inline-block;
      text-align: center;
    }
    a.add{
      color:#084b68;
    }
    a.next{
      color:#008356;
    }
    a.last{
      color:#477dca;
    }
    i{
      font-size:14px;
    }
  }

}


#main{
  height: calc(100% - 136px);
  padding-bottom:5px;
  overflow-y: auto;
  &::-webkit-scrollbar {
      width: 8px;
  } 
    &::-webkit-scrollbar-track {
        background-color: #2585b0;
  } /* the new scrollbar will have a flat appearance with the set background color */
   
  &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4); 
  } /* this will style the thumb, ignoring the track */
   
  &::-webkit-scrollbar-button {
        background-color: #2585b0;
        height:28px;
  } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

  .restore-tasks{
    padding-top:10px;
    text-align: center;
    display:block;
    .restore, .remove{
      color:#2585b0;
      font-size:14px;
      cursor:pointer;
    }
    .remove{ color: #C21F1F; }
  }
}

dl {
  @include clearfix;
  background-color: #2585b0;
  padding:0px 20px 0 20px;
  margin: 0;
  dt, dd {
    color:#fff;
    font: normal 20px Helvetica, Arial, sans-serif;
    margin-top: 0.75em;
    margin: 0;
    padding-bottom:5px;
  }
  dt{
    float:left;
    cursor:pointer;
  }
  dd {
    float:right;
    text-align: right;
  }

}

#task-list, .task-list {
  font-size: em(12);

  .date-label{
    font: normal 20px Helvetica, Arial, sans-serif;
    color: #585858;
    margin:25px 0 0 0;
    padding:0 0 10px 20px;
    border-bottom:1px solid #000;
    span{
      cursor:pointer;
    }
    .remove-day{
      cursor:pointer;
      float:right;
      padding-right:13px;
      font: 400 12px/18px 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
      margin-top:6px;
      color: #d21245;
      i{
        font-size:14.4px;
      }
    }
  }
  
  .border-left{
    line-height:0;
    background-color: #ffdd57;
    padding-left:10px;

    &.hasID {
      background-color:#b6e5ff;  
    }
    &.hasCategory{
      background-color:#D3D3D3;
    }
    border-bottom:1px solid #000;
  }

  .task-wrapper{
    padding: 10px 5px 10px;
    display: inline-block;
    background-color: white;
    width: 100%;
    line-height: 18px;
  }

  li.task {

    background-color: #fff;
    @include user-select(none);
    @include clearfix;
    
    label {
      width: calc(98% - 165px);
      float:left;
    }
    .controls {
      width: 165px;
      float:right;
      text-align: right;
    }
    .errors{
      width:5%;
    }
    label {
      color:#084b68;
      font-size: 15px;
      padding-left:10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight:normal;
      margin-bottom:0em;
    }
    .timeElapsed {
      color:#084b68;
      font-size: 12px;
      font-family: "Lucida Console", Monaco, monospace;
      margin-right:15px;
      &.flash{
        background-color: rgba(0, 255, 236, 0.4);
        box-shadow: 0px 0px 6px rgba(0, 255, 236, 0.86);
      }
    }
        
  }
  .details{
      height:100%;
      margin:0;
      padding:15px 0 15px 15px;
      background-color:#f8f8f8;
      line-height:1.5em;
      display:block;
      div{
        .item-wrap{
          display: inline-block;
          width: 50%;
          &.full{
            width:100%;
          }
        }
        
        label{
          font-size:12px;
          color:#084b68;
          display:block;
          width:auto;
          min-width:8%;
          text-align:left;
          vertical-align:top;
          padding: 0;
          padding-top:2px;
          &.checkbox{
            float:right;
            margin-right: 10%;
            width:auto;
            min-width:0;
          }
        }
        .full .checkbox{
              margin-right:5%;
            }
        input[type="text"], input[type="date"], textarea{
          display:block;
          width:90%;
          margin-bottom:5px;
          &:disabled{
            background-color:#f8f8f8;
          }
          
        }
        .full input[type="text"] {
            width:95%;
          }
        input[type="date"]{
          height: 28px;
        }
        
        input[type="checkbox"]{
          float:right;
        }
        textarea{
          width:95%;
        }
        select{
          width:95%;
          margin-bottom: 5px;
        }
      }
      
    }

}

#recent{
  width: 100%;
  height:21px;
  position:fixed;
  bottom:39px;
  z-index:99;
  background-color: #fff;
  border-radius: 3px 3px 0 0;
  border-top: 1px solid #2585b0;
  overflow:hidden;
  &.open{
    height: calc(65% - 141px);
    overflow-y: auto;
  }
    
  .arrow{
    padding-top: 3px;
    background-color: #2585b0;
    cursor: pointer;
    font-size:15px;
    color: #fff;
    display: block;
    width: 100%;
    height: 21px;
    text-align: center;
    line-height: 1em;
    i{
      padding-left:5px;
    }
    &:hover{
      color:#000;
    }
  }
  .fa-lock{
    color: #d21245;
    cursor:default;
  }
  .fa-unlock-alt{
    color: #027B1F;
    cursor:default;
  }
  .content-wrapper{
    overflow:auto;
    height: calc(100% - 21px);
    &::-webkit-scrollbar {
      width: 8px;
    } 
      &::-webkit-scrollbar-track {
          background-color: #2585b0;
    } /* the new scrollbar will have a flat appearance with the set background color */
     
    &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.4); 
    } /* this will style the thumb, ignoring the track */
     
    &::-webkit-scrollbar-button {
          height:0px;
    } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

  }
  .content {
    font-size: em(12);
    padding: 0 5px 0 5px;
    .task-wrapper{
      padding: 2px 0 2px;
      display: inline-block;
      width: 100%;
      line-height: 18px;

      .recent-ticketID-wrapper{
        height: auto;
        display: inline-block;
        vertical-align: top;
        width: 75px;
        color:#000;
      }
      .recent-task-wrapper{
        height: auto;
        display: inline-block;
        width: calc(94% - 75px);
        color: #2585b0;
        span{
          display:block;
          width:100%;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .recent-project-wrapper{
          padding-left: 30px;
          color:#d21245;
        }
      }
      .controls {
        width: 6%;
        float:none;
        display:inline-block;
        vertical-align: top;

        a.play{
          i{
            color:#2585b0;
            &:hover{
              color:#000;
            }
          }
          display:block;
        }
      }
    }

    li.task {
      border-bottom: 1px solid #BAD2DD;
      &:last-child{
        border-bottom:none;
      }
      @include user-select(none);
      @include clearfix;
      
      label {
        width:100%;
        font-weight:400;
        margin-bottom:0em;
      }
      
    }
  }
}

footer {
  position:fixed;
  width:100%;
  bottom:0;
  padding:0;
  text-align:right;
  background: url('chrome-extension://__MSG_@@extension_id__/images/genome.png') no-repeat bottom 9px left 50%, linear-gradient(#2585b0, #3f9dc7);
  
  .options{
    position:absolute;
    font-size:20px;
    color: #fff;
    top:7px;
    left:20px;
    &:hover{
      color:#000;
    }
  }

  .log{
    position:absolute;
    font-size:20px;
    color: #fff;
    top:7px;
    left:50px;
    &:hover{
      color:#000;
    }
  }

  .help{
    position:absolute;
    font-size:20px;
    color: #fff;
    top:7px;
    left:80px;
    &:hover{
      color: #000;
    }
  }

  button{
    margin:4px;
    margin-right:20px;
    background-color: #459ec5;
    border: 1px solid #459ec5;
    border-radius: 30px;
    padding: 3px 20px 3px 20px;
    font: normal 20px Helvetica, Arial, sans-serif;

  }
  button:disabled{
    cursor:default;
    &:hover{
      background-color: #459ec5;
    }
  }
}

.error{
  border: 1px solid #d21245 !important;
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px #d21245 !important;
}

.updateLog{
  z-index:500;
  position:absolute;
  background-color:#fff;
  top:0;
  left:0;
  height:calc(100% - 39px);
  width:100%;
  color: #000;
  overflow-y:scroll;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  h1{
    margin-top:45px;
    &:first-child{
      margin-top:5px;
    }
    
  }
  p{
    font-weight: bold;
    margin: 15px 0 15px 0;
  }
  .divider{
    border-top:1px dashed #aaaaaa;
    margin:15px 0 15px 0;
  }

  ul{
    list-style-type: disc;
    
    li{
      list-style-position: outside;
      list-style-type: disc;
      font-size:13px;
      margin-left:16px;
    }
    ul{
      margin-left:20px;
      li{
        list-style-type: circle;
       }
    }
  }

  .destroy{
    i{color:#d21245;}
    position:absolute;
    top:0px;
    right:2px;
  }
}


